.page-wrapper {
    min-width: $min-width;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wrap {
    min-width: $min-width;
    max-width: $max-width;
    padding: 0 12px 0 12px;
    margin: 0 auto;
    position: relative;
}

.page-body {
    min-width: $min-width;
    width: 100%;
    flex-grow: 1;
}

ul, ol {
    list-style-type: none;
}

p {
    @include font($base-font-size, $base-line-height, $text-color);
    padding: 15px 0 15px 0;
    font-weight: 400;
}
