@import '../utils/_variables';

.page-wrapper {
    min-width: $min-width;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wrap, .wrap-big, .wrap-min {
    min-width: $min-width;
    max-width: 1256px;
    width: 100%;
    padding: 0 16px 0 16px;
    margin: 0 auto;
	z-index: 1;
    position: relative;
}

.wrap-big {
    max-width: 1612px;
}

.wrap-min {
    max-width: 1049px;
}

section {
    position: relative;
}

.page-title {
    text-align: center;
    &--white {
        h2 {
            color: $color-white;
        }
    }
}

.page-body {
    min-width: $min-width;
    width: 100%;
    flex-grow: 1;
}

ul, ol {
    list-style-type: none;
}

h2 {
    font-size: 50px;
    font-family: $comfortbold;
	@media(max-width: 500px) {
		font-size: 24px;
	}
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
}

h4 {
    font-size: 16px;
    line-height: 1.3;
    color: $color-blue;
    font-weight: 700;
	span {
		font-weight: 400;
		color: #000;
		display: block;
		font-size: 17px;
	}
}

ul.list {
	margin-bottom: 8px;
    li {
        position: relative;
        &:before {
            position: absolute;
        }
    }
    & > li {
		font-size: 17px;
        padding-left: 19px;
        &:before {
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 3px solid $color-main;
			top: 3px;
			left: -2px;
        }
		&:not(:last-child) {
			margin-bottom: 11px;
		}
        & > ul {
            padding: 9px 0 0 0;
            li {
				padding-left: 21px;
				line-height: 1.4;
				&:not(:last-child) {
					margin-bottom: 9px;
				}
                &:before {
                    content: '';
					top: 10px;
					left: -3px;
                    width: 12px;
                    height: 2px;
                    background: $color-main;
                }
            }
        }
    }
}

.s {
	&-bot, &-top {
		position: absolute;
		left: 0;
		width: 100%;
		svg {
			width: 100%;
			height: auto;
		}
	}
	&-bot {
		bottom: 0;
        transform: translateY(69%);
	}
	&-top {
        transform: translateY(-69%);
		top: 0;
	}
}

.list-check {
    margin-bottom: 39px;
    li {
        position: relative;
        padding-left: 80px;
        font-size: 19px;
        &:not(:last-child) {
            margin-bottom: 43px;
        }
        &:before {
            content: '';
            width: 50px;
            height: 50px;
            background: url("../img/check.svg") center center no-repeat;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
	@media(max-width: 500px) {
		margin-bottom: 31px;
		li {
			padding-left: 38px;
			font-size: 17px;
			&:before {
				width: 25px;
				height: 25px;
				background-size: 25px 25px;
			}
			&:not(:last-child) {
				margin-bottom: 23px;
			}
		}
	}
}

.btn {
    display: inline-block;
    background: $color-main;
    font-size: 18px;
    color: $color-white;
    padding: 27px 32px 23px;
    border-radius: 16px;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
	&--blue {
		background: #222277;
	}
}

.quote {
    font-family: $comfort;
	font-size: 24px;
	line-height: 1.5;
    padding-top: 117px;
    position: relative;
    &:before {
        content: '';
        width: 110px;
        height: 110px;
        background: url("../img/braces.svg") center center no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
	@media(max-width: 500px) {
		font-size: 18px;
		line-height: 1.6;
		padding-top: 111px;
	}
}