@import '../utils/_variables';

.page-wrapper {
    min-width: $min-width;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wrap, .wrap-big {
    min-width: $min-width;
    max-width: $max-width;
    width: 100%;
    padding: 0 12px 0 12px;
    margin: 0 auto;
    position: relative;
}

.wrap-big {
    max-width: 1604px;
}

.page-body {
    min-width: $min-width;
    width: 100%;
    flex-grow: 1;
}

ul, ol {
    list-style-type: none;
}

p {
    @include font($base-font-size, $base-line-height, $text-color);
    padding: 15px 0 15px 0;
    font-weight: 400;
}

.btn {
    display: inline-block;
    background: $color-main;
    font-size: 20px;
    color: $color-white;
    line-height: 73px;
    height: 73px;
    padding: 0 0;
    border-radius: 16px;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
}