.footer {
    width: 100%;
    min-width: $min-width;
    padding: 50px 0 50px;
    &__left {
        display: flex;
        align-items: center;
        padding: 7px 0 0;
    }
    &__logo {
        margin-right: 15px;
        flex-grow: 0;
        img {
            width: 100%;
        }
    }
    &__copyright {
        font-size: 16px;
    }
    &__text {
        p {
            font-size: 13px;
            line-height: 1.4;
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
    @media (max-width: 768px) {
        padding: 43px 0 28px;
        &__logo {
            width: 59px;
        }
        &__left {
            padding-top: 0;
            margin-bottom: 31px;
        }
    }
}
