.header {
    width: 100%;
    min-width: $min-width;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        display: flex;
    }
    &__logo {
        flex-shrink: 0;
    }
}

.menu {
    &__list {
        align-items: center;
        display: flex;
    }
}