.header {
    width: 100%;
    min-width: $min-width;
    padding: 34px 0 35px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: $color-white;
    transition: padding ease .4s;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        display: flex;
    }
    &__logo {
        flex-shrink: 0;
		margin-right: 20px;
    }
    &.scrolled {
        padding: 0 5px;
    }
    &.resize {
        padding: 7px 0;
    }
	@media(min-width: 1250px) {
		.onmob {
			display: none;
		}
	}
    @media(max-width: 1400px) {
		&__btn {
			display: none;
		}
    }
    @media(max-width: 1250px) {
		padding: 7px 0;
		&__btn {
			display: inline-block;
		}
		&__content {
			align-items: center;
		}
		&__lang.language {
			display: none;
		}
		&__logo {
			margin-right: 0;
			width: 60px;
			img {
				width: 100%;
			}
		}
    }
    @media(max-width: 500px) {
		padding: 5px 0;
		&__logo {
			width: 40px;
			height: 35px;
		}
		.header__btn {
			font-size: 14px;
			padding: 12px 17px 10px;
			border-radius: 8px;
		}
    }
}

.mob-menu-trigger {
	width: 30px;
	span{
		display: block;
		background: $color-blue;
		height: 3px;
		border-radius: 1px;
		&:nth-child(2) {
			margin: 4px 0;
		}
	}
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__list {
        align-items: center;
        display: flex;
    }
	&__logo {
		img {
			width: 100%;
		}
	}
    &__item {
        &:not(:last-child) {
            margin-right: 27px;
        }
        &.current {
            a.menu__link {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    &__link {
        color: $color-blue;
        display: block;
        position: relative;
        &:after {
            content: '';
            background: $color-main;
            height: 4px;
            width: 100%;
            position: absolute;
            bottom: -6px;
            left: 0;
            opacity: 0;
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
    @media(max-width: 1250px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-main;
        justify-content: flex-start;
		transform: translateY(-101%);
		&.show {
			transform: translateY(0);
		}
        &__top, &__close {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__top {
            padding: 14px 21px 26px 16px;
        }
        &__list {
			padding: 7px 23px 0;
            margin-bottom: 21px;
        }
        &__item {
            &:not(:last-child) {
                margin: 0 0 25px;
            }
        }
        &__close {
            margin-top: -3px;
        }
        &__link {
            color: $color-white;
            font-size: 16px;
        }
        &__close {
            span {
                font-size: 12px;
                color: $color-white;
                display: block;
                margin-right: 10px;
                text-transform: uppercase;
            }
        }
        &__list {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    @media(max-width: 500px) {
		&__top {
			padding: 8px 20px 26px 16px;
		}
        &__logo {
			width: 40px;
			height: 35px;
		}
		&__lang.language {
			margin: 0 24px 0 14px;
		}
    }
}

.language {
    display: flex;
    align-items: center;
    margin: 0 24px 0 20px;
    a, span {
        padding: 4px 6px 1px;
        font-size: 16px;;
        color: $color-blue;
        border-radius: 4px;
        border: 1px solid transparent;
        margin: 0 2px;
    }
    span, a:hover {
        border-color: $color-main;
        color: $color-main;
    }
    &--white {
        a, span {
            color: $color-white;
        }
        span {
            border-color: $color-white;
        }
    }
}