@import '../utils/_variables';

.first-screen {
    margin-top: 149px;
    background: url("../img/first-screen-bg.jpg") top center no-repeat;
    background-size: cover;
    position: relative;
    padding: 169px 0 78px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        opacity: .6;
        width: 100%;
        height: 100%;
    }
    &__content {
        position: relative;
        z-index: 2;
    }
    &__title {
        font-family: $comfortbold;
        font-size: 75px;
        line-height: 1;
        color: $color-main;
        margin-bottom: 4px;
    }
    &__subtitle {
        font-family: $comfort;
        color: $color-white;
        max-width: 660px;
        line-height: 1.1;
        margin-bottom: 91px;
    }
    &-list {
        display: flex;
        &__item {
            &:not(:last-child) {
                margin-right: 44px;
            }
        }
        &__num {
            position: relative;
            padding: 5px 0 0 0;
            span {
                font-size: 72px;
                color: $color-white;
                position: relative;
                z-index: 1;
                line-height: 104px;
                font-family: $comfortbold;
            }
            &:before {
                content: '';
                width: 104px;
                height: 104px;
                position: absolute;
                top: 0;
                left: -16px;
                background: $color-main;
                border-radius: 50%;
            }
        }
        &__text {
            color: $color-white;
            padding-left: 8px;
            font-size: 18px;
            line-height: 1.4;
            max-width: 220px;
            width: 100%;
        }
    }
	@media(max-width: 1250px) {
		margin-top: 91px;
		padding: 89px 0 78px;
		&-list {
			&__num {
				padding: 5px 0 0 16px;
				&:before {
					left: 0;
				}
			}
		}
	}
	@media(max-width: 650px) {
		padding: 26px 0 0;
		background-size: 100%;
		&__title, &__subtitle {
			padding-left: 36px;
		}
		&__title {
			font-size: 25px;
			margin-bottom: 9px;
		}
		&__subtitle {
			font-size: 18px;
			margin-bottom: 0;
			padding-bottom: 32px;
		}
		&-list {
			background: #fff;
			flex-direction: column;
			margin: 0 -16px;
			padding: 25px 16px 25px;
			&__item {
				display: flex;
				&:not(:last-child) {
					margin-right: 0;
					margin-bottom: 17px;
				}
			}
			&__text {
				color: #000;
				font-size: 15px;
				padding: 5px 0 0 17px;
			}
			&__num {
				padding: 28px 0 0 0;
				text-align: center;
				width: 78px;
				height: 78px;
				flex-shrink: 0;
				span {
					line-height: 1;
					font-size: 24px;
				}
				&:before {
					width: 78px;
					height: 78px;
				}
			}
		}
	}
	@media(max-width: 500px) {
		margin-top: 52px;
	}
}

.symptoms {
    padding: 100px 0 50px;
    background: $color-pink;
	.s-bot {
		transform: translateY(34%);
	}
    &__text {
        max-width: 400px;
        p {
            font-family: $comfortbold;
            color: $color-white;
            line-height: 1.6;
        }
    }
    &__title {
        color: $color-white;
        line-height: 1.2;
        margin-bottom: 20px;
    }
	@media(max-width: 1200px) {
		&__text {
			max-width: none;
			margin-bottom: 50px;
		}
	}
	@media(max-width: 778px) {
		padding: 28px 0 69px;
		&__text {
			max-width: none;
			margin-bottom: 100px;
		}
	}
	@media(max-width: 500px) {
		padding: 28px 0 50px;
		&__title {
			font-size: 25px;
			line-height: 1.1;
			margin-bottom: 13px;
		}
		&__text {
			margin-bottom: 78px;
			p {
				line-height: 1.7;
				font-size: 14px;
			}
		}
	}
}

.diagram {
    position: relative;
    &__top {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
		padding: 0 16px;
		img {
			width: 100%;
		}
    }
    &__list {
        display: flex;
        margin: 0 -14px;
		position: relative;
		z-index: 2;
        &.hide {
            .bar {
                @media(min-width: 778px) {
                    height: 0 !important;
                }
            }
        }
    }
    &__item {
        height: 358px;
        width: calc(100% / 7);
        padding: 0 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__bar {
        flex-grow: 1;
        width: 100%;
        position: relative;
        margin-bottom: 11px;
        .bar {
            background: #F37895;
            display: block;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 0;
            position: absolute;
            transition: height ease 1s;
        }
        &:after {
            content: attr(data-percent);
            color: $color-white;
            font-size: 18px;
            bottom: 12px;
            left: 0;
            line-height: 1;
            margin-left: 0;
            position: absolute;
            width: 100%;
            text-align: center;
        }
    }
    &__title {
        height: 30px;
        font-size: 14px;
        line-height: 1.1;
        color: $color-white;
        width: 100%;
		font-weight: 700;
    }
	@media(max-width: 1250px) {
		&__list {
			margin: 0;
		}
	}
	@media(max-width: 778px) {
		&__list {
			flex-direction: column;
		}
		&__item {
			height: auto;
			padding: 0;
			width: 100%;
			flex-direction: row-reverse;
			align-items: center;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		&__bar {
			height: 35px;
			margin-bottom: 0;
			&:after {
				font-size: 19px;
				bottom: 6px;
				left: 8px;
				text-align: left;
			}
			.bar {
				height: 100%;
			}
		}
		&__top {
			top: -55px;
			padding: 0 9px;
		}
		&__title {
			font-size: 12px;
			height: auto;
			line-height: 1;
			flex-shrink: 0;
			width: 168px;
		}
	}
	@media(max-width: 500px) {
		&__title {
			width: 106px;
			padding-right: 10px;
		}
	}
}

.product {
    padding: 121px 0 192px;
    &__img-wrap {
		padding: 50px 0 0;
        position: relative;
    }
    &__little-img {
        position: absolute;
        bottom: -96px;
        left: 76px;
        width: 212px;
    }
	&__title {
		line-height: 1.2;
		margin-bottom: 18px;
	}
    &__text {
        margin-bottom: 17px;
    }
    &__list {
        margin-bottom: 30px;
        li {
			font-size: 18px;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 14px;
            }
            &:not(:first-child) {
                padding-left: 19px;
                &:before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 3px solid $color-main;
                    position: absolute;
					top: 3px;
					left: -2px;
                }
            }
        }
    }
    &__img-arrow {
        position: absolute;
        bottom: -306px;
        right: -26px;
    }
	@media(max-width: 1200px) {
		&__img-arrow {
			display: none;
		}
		&__main-img {
			width: 100%;
		}
	}
	@media(max-width: 992px) {
		padding: 91px 0 112px;
		&__title {
			font-size: 39px;
		}
		&__little-img {
			bottom: -56px;
			left: 50%;
			width: 123px;
			margin-left: -110px;
		}
	}
	@media(max-width: 768px) {
		&__img-wrap {
			padding-top: 0;
			max-width: 400px;
			margin: 0 auto 130px;
		}
	}
	@media(max-width: 500px) {
		padding: 66px 0 60px;
		&__title {
			font-size: 24px;
		}
		&__img-wrap {
			margin-bottom: 84px;
		}
		&__text {
			font-size: 16px;
			line-height: 1.5;
		}
		&__btn {
			text-align: center;
		}
	}
}

.composition {
	background: #F9F9F9;
	padding: 0 0 45px;
	.s-top {
		transform: translateY(-75%);
	}
    &__img {
        text-align: center;
    }
	&__title {
		margin-bottom: 63px;
	}
	&__text {
		h3 {
			font-size: 18px;
			line-height: 1.4;
			margin-bottom: 10px;
		}
		h4 {
			margin-bottom: 14px;
		}
	}
    &__top {
        position: relative;
        margin: 0 auto;
        width: 170px;
        height: 170px;
        border: 2px solid $color-pink;
        border-radius: 50%;
		margin-bottom: 63px;
    }
    &__item {
        position: relative;
        &:not(:last-child) {
            &:before {
                content: '';
                position: absolute;
				top: 66px;
				right: -19px;
                width: 44px;
                height: 44px;
                background: url("../img/plus.svg") center center no-repeat;
            }
        }
    }
    &__weight {
		font-family: $comfort;
        font-size: 16px;
        color: $color-white;
        text-align: center;
        background: $color-main;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        bottom: -23px;
        transform: translateX(-50%);
        line-height: 60px;
		span {
			font-size: 20px;
			font-family: $comfortbold;
		}
    }
    &__list-img {
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
	@media(max-width: 992px) {
		&__item {
			&:before {
				display: none;
			}
			margin-bottom: 33px;
		}
	}
	@media(max-width: 500px) {
		padding: 30px 0 0px;
		&__img {
			img {
				width: 188px;
			}
		}
		&__title {
			margin-bottom: 22px;
			h2 {
				font-size: 24px;
				line-height: 1.2;
			}
		}
		&__top {
			margin-bottom: 48px;
		}
	}
}

.description {
	background: #F9F9F9;
    padding: 45px 0 195px;
    &__item {
		p {
			font-size: 18px;
			max-width: 610px;
			line-height: 1.4;
		}
        &:first-child {
            padding-top: 124px;
        }
    }
	&__title {
		margin-bottom: 43px;
	}
	@media(max-width: 992px) {
		padding: 0 0 100px;
		&__item {
			p {
				max-width: none;
				font-size: 17px;
			}
			&:first-child {
				padding-top: 0;
				margin-bottom: 37px;
			}
		}
	}
	@media(max-width: 500px) {
		padding: 0 0 59px;
		&__title {
			margin-bottom: 27px;
		}
	}
}

.advantages {
    background: #F4A4BA;
    padding: 50px 0 8px;
	.s-top {
		transform: translateY(-71%);
	}
    &__item {
        color: #fff;
    }
    &__text {
        padding: 35px 0 0 16px;
        p {
            font-size: 19px;
            line-height: 1.4;
        }
    }
    &__subtitle {
        font-size: 17px;
        margin-bottom: 3px;
    }
    &__img {
        border-radius: 15px;
        overflow: hidden;
        height: 249px;
        img {
            width: 100%;
			object-fit: cover;
            height: 100%;
        }
    }
	@media(max-width: 992px) {
		&__subtitle {
			font-size: 16px;
		}
		&__item {
			&:not(:last-child) {
				margin-bottom: 33px;
			}
		}
		&__text {
			padding: 27px 0 0 16px;
			p {
				font-size: 17px;
			}
		}
	}
	@media(max-width: 992px) {
		padding: 50px 0 48px;
	}
	@media(max-width: 500px) {
		padding: 27px 0 35px;
		&__img {
			height: 183px;
		}
	}
}

.product-two {
    padding: 165px 0 166px;
    &__title {
        margin-bottom: 36px;
    }
    &__container {
        margin-bottom: -22px;
    }
	&__img {
		padding: 71px 0 71px 98px;
		img {
			position: relative;
			z-index: 2;
		}
		.circle {
			position: absolute;
			left: 11px;
			top: 50%;
			transform: translateY(calc(-50% - 22px));
			width: 318px;
			height: 318px;
			background: #EE1199;
			border-radius: 50%;
		}
	}
	@media (max-width: 992px) {
		padding: 95px 0 126px;
		&__img {
			padding: 0;
			text-align: center;
			img {
				width: 216px;
			}
			.circle {
				display: none;
			}
		}
		&__btn {
			margin-bottom: 64px;
		}
	}
	@media (max-width: 778px) {
		&__btn {
			text-align: center;
		}
	}
	@media (max-width: 500px) {
		padding: 60px 0 66px;
		&__img {
			margin-bottom: 24px;
		}
		&__title {
			margin-bottom: 18px;
		}
	}
}

.information {
    padding: 32px 0 45px;
    background: #F9F9F9;
    margin-bottom: 56px;
    &__title {
        margin-bottom: 42px;
    }
}

.faq {
    &__item {
        background: $color-white;
        border: 1px solid #F4F4F4;
        padding: 36px 47px 27px 31px;
        &:not(:last-child) {
            margin-bottom: 11px;
        }
        &.active {
            .faq {
                &__shape {
                    transform: rotate(-45deg) translate(-7px, 6px);
                    &:before ,&:after {
                        right: 0;
                        background: $color-main;
                        left: auto;
                    }
                    &:before {
                        height: 100%;
                        width: 4px;
                        top: 0;
                    }
                    &:after {
                        top: 0;
                    }
                }
                &__text {
                    display: block;
                }
            }
        }
    }
    &__text {
        display: none;
        padding: 20px 0 33px;
        p {
            font-size: 19px;
            &:not(:last-child) {
                margin-bottom: 13px;
            }
        }
    }
    &__top {
        display: flex;
        color: #000000;
        justify-content: space-between;
    }
    &__shape {
        width: 17px;
        height: 17px;
        position: relative;
        display: block;
        transform: rotate(-45deg);
        &:before, &:after {
            content: '';
            position: absolute;
            background: $color-blue;
            left: 0;
        }
        &:before {
            height: 100%;
            width: 4px;
            top: 0;
        }
        &:after {
            width: 100%;
            height: 4px;
            bottom: 0;
        }
    }
	@media(max-width: 500px) {
		&__item {
			padding: 36px 14px 27px 15px;
		}
		&__title {
			font-size: 16px;
			padding-right: 30px;
		}
		&__text {
			padding: 26px 0 1px;
			p {
				font-size: 17px;
				line-height: 1.4;
			}
		}
		&__shape {
			flex-shrink: 0;
		}
	}
}

.reviews {
    padding: 100px 0 173px;
    &__title {
        margin-bottom: 51px;
    }
	@media(max-width: 992px) {
		padding: 30px 0 73px;
	}
	@media(max-width: 500px) {
		padding: 0 0 26px;
		&__title {
			margin-bottom: 29px;
		}
	}
}

.review {
    &:not(:last-child) {
        margin-bottom: 62px;
    }
    &__text {
        background: #F4A4BA;
        border-radius: 15px;
        color: $color-white;
        font-size: 17px;
        padding: 43px 40px 42px;
        line-height: 1.4;
        position: relative;
        margin-bottom: 22px;
        &:after {
            content: '';
            background: url("../img/rev-shape.svg") center center no-repeat;
            width: 27px;
            height: 22px;
            position: absolute;
            bottom: -21px;
            right: 80px;
        }
    }
    &__bottom {
        padding-left: 41px;
        font-size: 17px;
    }
    &__name {
        font-family: $comfortbold;
        font-size: 20px;
        margin-right: 6px;
    }
	@media(max-width: 992px) {
		margin-bottom: 30px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	@media(max-width: 500px) {
		&__text {
			padding: 26px 22px 20px;
			&:after {
				right: 26px;
			}
		}
		&__bottom {
			padding-left: 34px;
		}
		&__name {
			display: block;
		}
	}
}

.buy {
    padding: 52px 0 82px;
    background: #273170;
    &__title, &__subtitle {
        color: $color-white;
    }
    &__title {
        margin-bottom: 8px;
    }
    &__subtitle {
        font-size: 17px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__btn {
        margin: 17px 2px 0 0;
    }
	@media(max-width: 992px) {
		padding: 32px 0 44px;
		&__content {
			flex-direction: column;
		}
		&__btn {
			text-align: center;
			width: 100%;
		}
	}
	@media(max-width: 500px) {
		padding: 19px 0 41px;
		&__btn {
			margin-top: 30px;
		}
	}
}
